<md-card>
    <md-card-title>Search</md-card-title>
    <md-input-container>
        <input mdInput placeholder="Search by " #listFilter (keyup)="0" value="">
    </md-input-container>

    <select #criteria (keyup)="0" name="criteria">
          <option value="name">Name</option>
          <option value="status">Status</option>
    </select>

    <h3>List Of Users :</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Courses Taken</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Enquiry Date</th>
            <th>Qualification</th>
            <th>Experience</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let user of users | myFilter:listFilter.value:criteria.value; let i = index">
            <td>{{user.name}}</td>
            <td>{{user.courses}}</td>
            <td>{{user.contactNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.enquiryDate}}</td>
            <td>{{user.qualification}}</td>
            <td>{{user.experience}}</td>
            <td>{{user.status}}</td>
            <td><span [routerLink]="['/form/edit', i]">Edit</span></td>
        </tr>
    </table>
</md-card>

<br>

<md-card>
    Super power of 2 is to 10 is: {{2 | exponentialStrength: 10}}
</md-card>

<br>

<md-card>
    <p>Today's Date is {{ currentDate | date:format }} and Time is {{currentDate  | date:'shortTime'}}</p>
    <button (click)="toggleFormat()">Toggle Date Format (Short/Full)</button>
</md-card>