/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

ul {
   list-style: none;
}
li {
  display: inline;
  font-size: 16px;
  cursor: pointer;
}
li::after {
    content: '|';
    padding: 5px;
  }
li:last-child::after {
    content : '';
  }