<div class="container">
    <h1>Signup Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="courses">Courses</label>
        <select [(ngModel)]="courses" name="courses" id="courses" class="form-control" multiple="multiple">
          <option>MVC</option>
          <option>Angular 1</option>
          <option>Angular 2</option>
          <option>Dotnet</option>
        </select>
      </div>
      <div class="form-group">
        <label for="contactNo">Contact No</label>
        <input type="number" [(ngModel)]="contactNo" class="form-control" id="contactNo" name="contactNo">
      </div>
      <div class="form-group">
        <label for="email">Email Id</label>
        <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="enquiryDate">Enquiry Date</label>
        <input type="date" [(ngModel)]="enquiryDate" class="form-control" id="enquiryDate" name="enquiryDate">
      </div>
      <div class="form-group">
        <label for="qualification">Qualification</label>
        <input type="text" [(ngModel)]="qualification" class="form-control" id="qualification" name="qualification">
      </div>
      <div class="form-group">
        <label for="experience">Experience</label>
        <input type="text" [(ngModel)]="experience" class="form-control" id="experience" name="experience">
      </div>
      <div class="form-group">
        <label for="courses">Status</label>
        <select [(ngModel)]="status" name="status" id="status" class="form-control">
          <option>Followup</option>
          <option>Reminder</option>
          <option>Declined</option>
          <option>Student</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <input type="text" [(ngModel)]="comments" class="form-control" id="comments" name="comments">
      </div>
      <button type="submit" (click)="submitFunction()" class="btn btn-success">Submit</button>
      <br><br>
      <pre>{{users | json}}</pre>

    </form>
</div>